#########################
# LaTeX auxiliary files #
#########################
*.aux
*.bbl
*.blg
*.log

########################
# LaTeX compiled files #
########################
*.pdf

#########################
# Python compiled files #
#########################
*.pyc
